# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/dist-ssr

# Editor / System files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
